nav {
  display: flex;
  justify-content: space-around;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}